.categories {
}

.slider {
  display: grid;
  row-gap: 24px;
  justify-items: center;
  grid-template-columns: 1fr;
  position: relative;
}

.slider__item {
  height: 90vh;
}

.slider__item > img {
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.slider__arrow-prev {
  position: absolute;
  left: 25px;
  margin-top: 50%;
}

.slider__arrow-next {
  position: absolute;
  right: 25px;
  margin-top: 50%;
}
/* tablet */
@media (min-width: 768px) {
  .slider {
  grid-template-columns: repeat(3, 1fr);
}
.slider__item {
  height: 170px;
}
}
/* desktop */
@media (min-width: 1024px) {
}
/* large desktop */
@media (min-width: 1280px) {
}
